@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Kanit:wght@500&display=swap');

@layer base {
    a {
        @apply p-1
    }
}

body {
    background-color: #1a1a1d;
}

.scene {
    position: absolute;
    width: 100%;
    transform: translateY(var(--translateY));
    will-change: transform;

}

@font-face {
    font-family: "Elianto-Regular";
    src: local("Elianto-Regular"),
        url("/assets/Elianto-Regular.otf");
    font-weight: normal;
}


@font-face {
    font-family: "Mylodon-Light";
    src: local("Mylodon-Light"),
        url("/assets/Mylodon-Light.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Modeka";
    src: local("Modeka"),
        url("/assets/Modeka.otf");
    font-weight: bold;
}
@font-face {
    font-family: "ARCADECLASSIC";
    src: local("ARCADECLASSIC"),
        url("/assets/ARCADECLASSIC.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "SummerPixel22Regular";
    src: local("SummerPixel22Regular"),
        url("/assets/SummerPixel22Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Azonix";
    src: local("Azonix"),
        url("/assets/Azonix.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Nidsans-webfont";
    src: local("Nidsans-webfont"),
        url("/assets/nidsans-webfont.otf");
    font-weight: semibold ;
}
@font-face {
    font-family: "Hero-Bold";
    src: local("Hero-Bold"),
        url("/Assets/Hero-Bold.otf");
}
@font-face {
    font-family: "AvenirLTProLight";
    src: local("AvenirLTProLight"),
        url("/assets/AvenirLTProLight.otf");
        font-weight: bold;
}

@font-face {
    font-family: "AvenirLTProHeavy";
    src: local("AvenirLTProHeavy"),
        url("/assets/AvenirLTProHeavy.otf");
        font-weight: bold;
}
@font-face {
    font-family: "AvenirLTProMedium";
    src: local("AvenirLTProMedium"),
        url("/assets/AvenirLTProMedium.otf");
        font-weight: bold;
}