.mainCard{
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 10px 2px rgba(209, 210, 234, 0.2);
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 1.5px );
}

.mainPadding {
    margin: 4rem;
    padding-top: 6rem;
    margin-bottom: 6rem;
  }
  .continingPosts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
  
